.game-item{
  text-decoration: none;
  color:white;
  width: 300px;
  height: 300px;
  background-color: rgb(36, 21, 39);
  border-radius: 15px;
  cursor: pointer;
  position: relative;

}
.game-item:hover{
   filter: grayscale(100%);
   transition: 0.2s;
}

.game-item:not(:last-child){
  margin-bottom: 30px;
  margin-right: 50px;
}
.game-item__title{
  font-size: 16px;
  font-weight: bold;
}
.game-item__ganre{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.game-item__details{
  padding: 10px 20px;
}
.game-item__description{
  margin-top: 10px;
  font-size: 14px;
}
.game-items__buy{
  position: absolute;
  right: 0;
  bottom:1px;
}
.gengre{
   background-color: rgb(80, 82, 84);
    padding: 2px 5px;
    font-size: 13px;
    border-radius: 10px;
}
.gengre:not(:last-child) {
    margin-right: 7px;
}