.cart-menu {
    position: absolute;
    top: 30px;
    left: -100px;
  background-image: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    max-width: 400px;
    padding: 10px 20px;
    z-index: 2;
   display: flex;
   flex-direction: column;
    color: black;

    border-radius: 15px;
}

.cart-menu__arrange {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.cart-menu__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.cart-menu__game-list{
  display: flex;

}