.wrapper-registr{
  max-width: 1000px;
  padding: 20px 30px;
  margin: 0 auto;
}
form {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}
.input-register{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 0 auto;
  
}
.input-register input{
  border-radius: 10px;
  height: 30px;

-webkit-box-shadow: -4px 0px 8px 5px rgba(0,0,0,0.53); 
box-shadow: -4px 0px 8px 5px rgba(0,0,0,0.53);
}
.input-register button{
  height: 40px;
  border-radius: 10px;
  width: 200px;
  color: black;
  margin: 0 auto;
}
.registr-header{
    font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
  
  color: rgb(208, 189, 220);
}